<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="./demo/transcribe-streaming-app/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div style="width:100% ; height : 30px ; background-color: darkslategrey; color:white; padding:15px 0 0 15px; margin-bottom: 10px">
        DEMO Samples
    </div>

    <ul>
        <li><a href="/demo/websocket/index.html">websocket connetion(ws, wss)</a></li>
        <li><a href="/demo/audio-record/index.html">audio-record</a></li>
        <li><a href="/demo/transcribe-streaming-app/index.html">transcribe-streaming-app</a></li>
    </ul>
</body>
</html>