<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>WebSocketClient</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div style="width:100% ; height : 30px ; background-color: darkslategrey; color:white; padding:15px 0 0 15px; margin-bottom: 10px">
        Daily Chat with GPT
    </div>
    <form onsubmit="return false;" style="marin-top:10px;" >
        <h5>컨텐츠 URL</h5>
<!--        <input type="text" id="contents_url" value="https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=%EB%B8%94%EB%9E%99%ED%95%91%ED%81%AC" style="width:95%; height:30px; margin-bottom: 10px">-->
        <input type="text" id="contents_url" value="https://search.naver.com/search.naver?sm=tab_hty.top&where=news&query=%EB%89%B4%EC%A7%84%EC%8A%A4+%EC%BB%B4%EB%B0%B1" style="width:95%; height:30px; margin-bottom: 10px">

        <h5>교재</h5>
        <textarea id="textbook" type="text" rows="20" style="padding: 15px; width:95%; scroll:auto" readonly></textarea>
        <h5>채팅</h5>
        <textarea id="chatMessage" type="text" rows="20" style="padding: 15px; width:95%; scroll:auto" readonly></textarea>
        <input type="text" id="textMessage" placeholder="채팅메시지 입력" style="width:85%; height:40px">
        <!-- 전송 버튼 -->
        <input onclick="sendMessage()" value="Send" type="button" style="height:40px">
        <!-- 접속 종료 버튼 -->
        <input onclick="disconnect()" value="Disconnect" type="button" style="height:40px">
    </form>
    <br />

    <!-- 출력 area -->
    <textarea id="logViewArea" rows="50" cols="50" style="width:80%;" hidden></textarea>
    <script type="text/javascript">

        function get_server(){
            var url = document.URL;
            if( url.indexOf( 'localhost' ) >=0 || url.indexOf( '127.0.0.1' ) >= 0 || url.indexOf( '192.168' ) >= 0 ){
                return "ws://localhost:8888";
            }
            return "ws://54.180.109.21:8888";
        }


        // 웹 서버를 접속한다.
        var server = get_server();
        var webSocket = new WebSocket(server);

        // 웹 서버와의 통신을 주고 받은 결과를 출력할 오브젝트를 가져옵니다.
        var logViewArea = document.getElementById("logViewArea");
        var chatMessage = document.getElementById("chatMessage");
        var textbook = document.getElementById("textbook");

        // 소켓 접속이 되면 호출되는 함수
        webSocket.onopen = function(message){

            console.log( "Server connect...");

            var contents_url = document.getElementById("contents_url").value;
            autoMessage( "TEXTBOOK", { "url" : contents_url })
        };
        // 소켓 접속이 끝나면 호출되는 함수
        webSocket.onclose = function(message){
            logViewArea.value += "Server Disconnect...\n";
        };
        // 소켓 통신 중에 에러가 발생되면 호출되는 함수
        webSocket.onerror = function(message){
            logViewArea.value += "error...\n";
        };
        // 소켓 서버로 부터 메시지가 오면 호출되는 함수.
        webSocket.onmessage = function(message){
            // 출력 area에 메시지를 표시한다.
            var recv_data = JSON.parse( message.data );
            console.log( recv_data );

            var command = recv_data['cmd'];
            var data = recv_data['data'];
            if ( command == "TEXTBOOK_ACK"){
                textbook.value += data['contents'] + "\n";
            }
            else if ( command == "CHAT_MSG_ACK"){
                chatMessage.value += "[AGENT] : " + data['msg'] + "\n";
            }
            else{
                chatMessage.value += "[ERROR] : unknown_data, cmd = " + command + "\n";
            }

        };

        // 서버로 메시지를 전송하는 함수
        function sendMessage(){
            var message = document.getElementById("textMessage");
            var data = { "cmd" : "CHAT_MSG", "params" : { 'msg' : message.value }};
            var sendData = JSON.stringify( data );

            logViewArea.value += "[SEND] to Server => "+ message.value +"\n";
            chatMessage.value += "[ME] : " + message.value+"\n";

            //웹소켓으로 textMessage객체의 값을 보낸다.
            webSocket.send( sendData );
            //textMessage객체의 값 초기화
            message.value = "";
        }

        function autoMessage( command, params ){
            //var data = { "cmd" : command, "params" : JSON.parse( message ) };
            var data = { "cmd" : command, "params" : params };
            var sendData = JSON.stringify( data);
            //웹소켓으로 textMessage객체의 값을 보낸다.
            webSocket.send( sendData );
        }

        function disconnect(){
            webSocket.close();
        }
    </script>
    </body>
</html>