<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>DEMO</title>
    <link rel="stylesheet" type="text/css" href="./demo/transcribe-streaming-app/style.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
    <div style="width:100% ; height : 30px ; background-color: darkslategrey; color:white; padding:15px 0 0 15px; margin-bottom: 10px">
        DEMO Samples
    </div>

    <ul>
        <li><a href="/demo/daily-news/html/article.html">article.html</a></li>
        <li><a href="/demo/daily-news/html/bottom_menu.html">bottom_menu.html</a></li>
        <li><a href="/demo/daily-news/html/class_body.html">class_body.html</a></li>
        <li><a href="/demo/daily-news/html/class_example.html">class_example.html</a></li>
        <li><a href="/demo/daily-news/html/class_keyword.html">class_keyword.html</a></li>
        <li><a href="/demo/daily-news/html/class_list.html">class_list.html</a></li>
        <li><a href="/demo/daily-news/html/class_talk.html">class_talk.html</a></li>

        <li><a href="/demo/daily-news/html/common_menu.html">common_menu.html</a></li>
        <li><a href="/demo/daily-news/html/common_sub_menu_class.html">common_sub_menu_class.html</a></li>
        <li><a href="/demo/daily-news/html/news.html">news.html</a></li>
        <li><a href="/demo/daily-news/html/remind.html">remind.html</a></li>
        <li><a href="/demo/daily-news/html/review.html">review.html</a></li>
        <li><a href="/demo/daily-news/html/setting.html">setting.html</a></li>

    </ul>
</body>
</html>