#simple_websocket_server
SimpleWebsocketServer
openai
beautifulsoup4
python-dotenv
cachetools
boto3
#pandas
loguru

requests
urllib3==1.26.6

# amazon-transcribe
# aiofile #async file
# sounddevice #mic

fastapi
jinja2
uvicorn
python-multipart